<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beckytech.faarfannaaafaanoromoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaarfannaaAfaanOromoo">
        <activity
            android:name=".MoreApps"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WaaeeApp"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GalataActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".wcontents.WaaeeKeenHima"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.Yoordaanositti"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.Yoordaanoosii"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.YoordaanoosDhaloonniKooo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.Yoordaanoos"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.YaaredLubichaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.YaaWaaqayyoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.YaaMikaaeelii"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.YaaHaadhaWaaqayyo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ycontents.YaaMaariyaam"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".wcontents.WangeelaIsaatti"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".wcontents.WaaqayyoRafeeHin"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".wcontents.WaaqayyoAddunyaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".wcontents.WaaqattiHaaAmannuu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ucontents.UraaelKoottu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ucontents.UlfinaWaaqayyof"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ucontents.UlfinaToloota"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tcontents.TokkummaaNuufKenni"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tcontents.TikseeGaariinQabaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tcontents.TikseeGaariidha"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tcontents.TabootaMusee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.SittiWaamameera"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.SinbooKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.SinTaee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.SillaaseeUumaaKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.Sillaasee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.SinFaarfadhaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.SiMalee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.SiGalateeffanna"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".scontents.SagaltamiiSaglanuu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".rcontents.Rakkanneerraa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".rcontents.RaajiiGiyoorgisii"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".rcontents.Raagueel"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".qcontents.QorichaFoonKeenya"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".qcontents.QabsurriKee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ocontents.OfIrraattinArgee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ocontents.OlNaaQabdeta"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ocontents.ObsiNidarba"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ocontents.OoMaariyaam"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ocontents.OfummaMiti"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NuufKadhatu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NuufDhalatee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NiDhalatee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NiBueIlmi"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NaMiladhu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NattiYaahafu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NamatuHinBeknee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NageenyaKeenya"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NagaaNaafLabsee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ncontents.NanYaadadha"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.EenyumtuuHinJiru"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ccontents.CubbuunKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KanAkkaWaaqayyoEessaatti"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MucaaKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MucaaKee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MootichiYihuudaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MikaaeelNaafDhufee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MikaaeelNidhaabbataa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MaqaanKeeAjaaiba"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MallattooNagaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.Madanialem"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.Maariyaamiidhaaf"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MaariyaamNiCaalti"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.Maariyaam"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.Maaramiin"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MaaliinFakkeessina"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MaalNamaGootee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".mcontents.MaalJedheenDubbaadha"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lcontents.LatiinJirmaQabaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lcontents.LapheenKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lcontents.Lakkaame"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KoottuuHaadhaKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.Koottuu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KidaaneMihiraat"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KennaanKeeJabaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KennaaGuyyaaJimaata"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KananIttiinBoonee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KanFayyuuBarbaadu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KanAkkaWaaqayyo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kcontents.KaakuAraara"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".jcontents.JireenyaLubbuuKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".jcontents.JaalalliKeeAddaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".icontents.IyyesuusCuuphame"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".icontents.IyyesuusKiristoos"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".icontents.IttiFufaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hcontents.HunduumaCaaltiHaatiGooftaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hcontents.HoolichaDhugaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hcontents.HarkaYohaannisiinCuuphame"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hcontents.HalleeLuyyaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".hcontents.HaadhaWaaqaKanMadaanalamii"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GuyyaanKeeGuyyaaQaba"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GurguddootaDhiise"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GugeeJiraattu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GooftaanNuufCuuphameera"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GooftaanCuuphamee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GochiGooftaaKeenyaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GarraKoofJedhee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GannaSodomatti"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.Gammanneerra"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GammadiiKaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GammadaaMartinuu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GalmaKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.Galateeffamaadhaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GalatanGalchaaf"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GalataWaaqayyo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GalataKee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GalataJedhee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".gcontents.GalaanaDhaabe"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fcontents.FuulaNamatti"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fcontents.FannoonHumnaKeenya"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.Eeyyeennii"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.EeyyeeNuuDhalatee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.EenyuuOgeessiAkkaKee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.EenyuuAbdiinKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.ErgamooniFaarfaataaniiru"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.ErgamaaGabrieelin"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.ErgamaaGabrieel"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.Ergamaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.EebbifamtudhaIsheen"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".econtents.EebbifamaadhaKanEebbifamee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dcontents.DursiiGooftaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dcontents.DubartootaaKeessaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dcontents.DuaaKaeera"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dcontents.DhugumaDhugaadha"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dcontents.DhufeJechi"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dcontents.DhaabachuDadhabee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dcontents.DeemeIyyesuusi"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".dcontents.DahooKeenya"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ccontents.CuuphamuunKee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BoruKanGooftaatii"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BoqonnaaNaaf"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BoqonnaaLubbuu"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BiyyaKeenyaaf"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BiyyaKeenya"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BirraanGahee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BaayeeNaYaaddeessa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BaraDargaggummaaKeenya"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BakkaAaraGalfiiKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BagaIsiinGahee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BagaGammaddanMisiroon"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcontents.BagaGammaddanii"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AyyaanaArgattee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AtiBeteliheem"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.Arseemaa"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AraarsituuMaariyaamii"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AniifManniKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AndariiKoo"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AnaafWaaqayyodhaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AmmaIfatuuNuufActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AmmaReefuTolee"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AlfaafiOmeegaaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AfuurriiQulqulluunBuheeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AkkamiinTareeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".acontents.AbbaafIlma"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8504401574247581~7886078317" />
    </application>

</manifest>